{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">人件費情報</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">従業員の給与に関する情報</li>
    </ol>
    <div class="m-2">
      <a href="{% url 'kintaitop' %}" class="btn btn-link" tabindex="-1" role="button" aria-disabled="true">トップに戻る</a>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        人件費情報一覧
      </div>
      <div class="card-body">
        <ul>
          <li>労働時間:8時間</li>
          <li>休憩時間:1時間</li>
          <li>残業手当:残業時時給×1.25倍</li>
          <li>深夜手当:残業時時給×1.25倍</li>
          <li>残業かつ深夜手当:残業時時給×1.5倍</li>
        </ul>
      </div>
    </div>
  </div>
</main>
{% endblock %}