{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">残業管理</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">目標残業時間超過者・危険者表</li>
    </ol>
    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        目標残業時間超過者
      </div>
      <div class="card-body">
        <table class="table" id="datatablesSimple">
          <thead>
            <tr>
              <th>従業員名</th>
              <th>社員番号</th>
              <th>部署</th>
              <th>役職</th>
              <th>出勤時刻</th>
              <th>退勤時刻</th>
              <th>残業時間</th>
              <th>時給</th>
              <th>給与</th>
              <th>欠勤理由</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>従業員名</th>
              <th>社員番号</th>
              <th>部署</th>
              <th>役職</th>
              <th>出勤時刻</th>
              <th>退勤時刻</th>
              <th>残業時間</th>
              <th>時給</th>
              <th>給与</th>
              <th>欠勤理由</th>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>野口紘史</td>
              <td>1234567</td>
              <td>営業部</td>
              <td>部長</td>
              <td>2023/12/2 9:00</td>
              <td>2023/12/2 19:00</td>
              <td>2:00</td>
              <td>2500</td>
              <td>26,250</td>
              <td>なし</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}